*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.register-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#fdf7f7,#f3e5e5);
    padding:40px 20px;
}

.register-card{
    width:420px;
    background:#fff;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.12);
}

.register-header{
    text-align:center;
    margin-bottom:30px;
}

.register-header h1{
    color:#8B0000;
    font-size:34px;
    margin-bottom:10px;
}

.register-header p{
    color:#666;
    font-size:16px;
}

.register-form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.input-group input{
    width:100%;
    padding:14px 18px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
    outline:none;
    transition:.3s;
}

.input-group input:focus{
    border-color:#8B0000;
    box-shadow:0 0 8px rgba(139,0,0,.2);
}

.register-btn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:8px;
    background:#df0841;
    color:#fff;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.register-btn:hover{
    background:#650000;
}

.register-btn:active{
    transform:scale(.98);
}

@media(max-width:500px){

.register-card{
    width:100%;
    padding:25px;
}

.register-header h1{
    font-size:28px;
}

}